<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abistuff - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('lib/styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('lib/styles/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset("lib/styles/font-awesome.min.css") }}">
    <link rel="stylesheet" href="{{ asset("lib/styles/main.css") }}">
    <script src="{{ asset('lib/js/jquery.min.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            {% if is_granted("ROLE_USER") %}

                {# NAVIGATION HEADER#}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% if app.request.PathInfo == path('dashboard') %}active{% endif %}"><a href="{{ path("dashboard") }}"><i class="fa fa-th-large" aria-hidden="true"></i>&emsp;Dashboard</a></li>

                        <li class="dropdown {% if app.request.PathInfo in [path('bankdetails'), path('new_transaction')] %}active{% endif %}">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" href="{{ path("bankdetails") }}"><i class="fa fa-eur" aria-hidden="true"></i>&emsp;Kontodetails&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path("bankdetails") }}"><i class="fa fa-eur" aria-hidden="true"></i>&emsp;Kontodetails</a></li>
                                <li><a href="{{ path("new_transaction") }}"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;Transaktion hinzufügen</a></li>
                            </ul>
                        </li>

                        <li class="dropdown {% if app.request.PathInfo in [path('calendar'), path('events')] %}active{% endif %}">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" href="{{ path("calendar") }}"><i class="fa fa-calendar" aria-hidden="true"></i>&emsp;Kalender&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path("calendar") }}"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Kalender</a></li>
                                <li><a href="{{ path("new_event") }}"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>&nbsp;Kalendereintrag hinzufügen</a></li>
                            </ul>
                        </li>


                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="dropdown {% if app.request.PathInfo in [path('create_user'), path('list_users')] %}active{% endif %}">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" href="#"><i class="fa fa-server" aria-hidden="true"></i>&emsp;Administration&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path("create_user") }}"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&emsp;Benutzer erstellen</a></li>
                                    <li><a href="{{ path("list_users") }}"><i class="fa fa-group" aria-hidden="true"></i>&emsp;Benutzerliste</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        <li class="{% if app.request.PathInfo == false %}active{% endif %}"><a href="{{  logout_path() }}"><i class="fa fa-sign-out" aria-hidden="true"></i>&emsp;Ausloggen</a></li>
                    </ul>
                    {# /NAVIGATION HEADER#}

                    {# NAVIGATION HEADER DROPDOWN#}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown {% if app.request.PathInfo == path('change_passwd') %}active{% endif %}">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{ app.user.displayname }}&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path("change_passwd") }}"><i class="fa fa-key" aria-hidden="true"></i>&emsp;Passwort ändern</a></li>
                                </ul>
                            </li>
                        </ul>
                    {# NAVIGATION HEADER DROPDOWN#}
                </div>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown {% if app.request.PathInfo == path('change_passwd') %}active{% endif %}">
                        <a aria-expanded="false" role="button" href="{{ path("login") }}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Login</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <br>
    <br>
    <br>
        {#FLASH MESSAGES#}
        {% block flash_messages %}
            <div class="alerts">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                                <div class="">
                                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        {{ message | raw }}
                                    </div>
                                </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endblock %}
        {# /FLASH MESSAGES#}

        {#SEITEN INHALT#}
        {% block body %}{% endblock %}
        {#/SEITEN INHALT#}
        <hr/>
    <div class="container">
        <footer>
            <p>Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Fatih & <a href="https://jloewe.net">Jan</a></p>
        </footer>
    </div>

    <script src="{{ asset('lib/js/bootstrap.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>