{% extends "abistuff/baselayout.html.twig" %}

{% block title %}Kartenverkauf{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('lib/styles/tablesort.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        Es wurden bereits {{ soldOfficial }} 'offizielle' Karten und {{ soldAftershow }} Laufkarten verkauft.
        <br>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fas fa-filter"></i>  <b>Filter</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-search"></i></span>
                            <input type="text" id="search" placeholder="K&auml;ufer suchen" class="form-control">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" id="deleteBtn"><i class="far fa-times-circle"></i></button>
                                <button type="button" class="btn btn-default" id="searchBtn">Suchen</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8">
                        <label class="pull-right">
                            <input type="checkbox" id="hideFinishedTickets">
                            Abgeschlossene Käufe ausblenden
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-responsive" id="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>K&auml;ufer</th>
                    <th>Anzahl</th>
                    <th>Erhalten am</th>
                    <th>Bezahlt am</th>
                    <th>Bar bezahlt?</th>
                    <th>Offizielle Karte/Laufkarte</th>
                    <th>Verkäufer</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>

        <template id="tableRowTemplate">
            <tr class="ticket-row">
                <td><input class="checkbox ticket-checkbox" type="checkbox" data-id=""></td>
                <td class="ticket-kaeufer"></td>
                <td class="ticket-anzahl"></td>
                <td class="ticket-erhaltenAm"></td>
                <td class="ticket-bezahltAm"></td>
                <td class="ticket-barBezahlt"></td>
                <td class="ticket-stammkarte"></td>
                <td class="ticket-seller"></td>
            </tr>
        </template>

        <div style="text-align: right;">
            <a id="edit" class="btn btn-default"><i class="far fa-edit"></i>&nbsp;&nbsp;Eintrag bearbeiten</a>
            <a id="updatePayedCards" class="btn btn-default"><i class="fas fa-hand-holding-usd"></i>&nbsp;&nbsp;Karten bezahlt</a>
            <a id="updateHandedCards" class="btn btn-default" ><i class="fas fa-truck-loading"></i>&nbsp;&nbsp;Karten erhalten</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('lib/js/tablesort.min.js') }}"></script>
    <script type="application/javascript">

        function loadTableData(hideFinishedTickets, searchTerm)
        {
            //Tabelle leeren
            var tbody = document.getElementById('tbody');
            while (tbody.firstChild) {
                tbody.removeChild(tbody.firstChild);
            }

            dataOptions = {
                hideFinishedTickets: hideFinishedTickets,
                searchTerm: searchTerm
            };

            //Tabellendaten laden
            $.ajax({
                url: "{{ absolute_url('ticketdata')|raw }}",
                cache: true,
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(dataOptions),
                method: 'POST',
                success: function (response) {
                    buildTableFromJson(response);
                }
            });
        }



        function buildTableFromJson(tableData)
        {
            var tableBody = document.getElementById('tbody');

            var tableDataLength = tableData.length;
            for (var i = 0; i < tableDataLength; i++)
            {
                //Get Current data row
                var curTableDataRow = tableData[i];

                //Template Laden
                var templateRow = document.getElementById('tableRowTemplate').content.cloneNode(true);

                //Farbe der Zeile setzen
                if(curTableDataRow.bezahltAm === null || curTableDataRow.erhaltenAm === null )
                {
                    if(curTableDataRow.bezahltAm === null && curTableDataRow.erhaltenAm !== null)
                    {
                        templateRow.querySelector('tr').classList.add('danger');
                    }
                    else
                    {
                        templateRow.querySelector('tr').classList.add('warning');
                    }
                }
                else
                {
                    templateRow.querySelector('tr').classList.add('success');
                }

                //ID in der Checkbox setzen
                templateRow.querySelector('.ticket-checkbox').setAttribute('data-id', curTableDataRow.id);

                //Textwerte aus dem Array nehmen und einsetzen
                templateRow.querySelector('.ticket-kaeufer').innerHTML = curTableDataRow.kaeufer;
                templateRow.querySelector('.ticket-anzahl').innerHTML = curTableDataRow.anzahl;
                templateRow.querySelector('.ticket-seller').innerHTML = curTableDataRow.seller;

                //BezahltAm-Datum umwandeln
                if(curTableDataRow.bezahltAm !== null)
                {
                    var dateStr = curTableDataRow.bezahltAm.date;

                    dateStr = dateStr.slice(0, 10);
                    var dateArr = dateStr.split('-');
                    dateStr = dateArr[2] + '.' + dateArr[1] + '.' + dateArr[0];

                    templateRow.querySelector('.ticket-bezahltAm').innerHTML = dateStr;
                }

                //ErhaltenAm-Datum umwandeln
                if(curTableDataRow.erhaltenAm !== null)
                {
                    dateStr = curTableDataRow.erhaltenAm.date;

                    dateStr = dateStr.slice(0, 10);
                    dateArr = dateStr.split('-');
                    dateStr = dateArr[2] + '.' + dateArr[1] + '.' + dateArr[0];

                    templateRow.querySelector('.ticket-erhaltenAm').innerHTML = dateStr;
                }

                //Bar bezahlt umwandeln
                if(curTableDataRow.barBezahlt)
                {
                    templateRow.querySelector('.ticket-barBezahlt').innerHTML = "Ja";
                }
                else
                {
                    templateRow.querySelector('.ticket-barBezahlt').innerHTML = "Nein";
                }

                //Stammkartentext umwandeln
                if(curTableDataRow.stammkarte)
                {
                    templateRow.querySelector('.ticket-stammkarte').innerHTML = "Offizielle Karte";
                }
                else
                {
                    templateRow.querySelector('.ticket-stammkarte').innerHTML = "Laufkarte";
                }

                //Template der Tabelle hinzufügen
                tableBody.appendChild(templateRow);
            }
        }


        $(document).ready(function() {
            //Tabelle und Filter initalisieren
            document.getElementById('hideFinishedTickets').checked = true;
            document.getElementById('search').value = "";
            new Tablesort(document.getElementById('table'));

            loadTableData(true, null);
        });


        document.getElementById('deleteBtn').onclick = function ()
        {
            document.getElementById('search').value = "";
        };


        document.getElementById('searchBtn').onclick = function ()
        {
            //Set hideFinishedTickets to false
            var hideFinishedTickets = false;
            if(document.getElementById('search').value === "")
            {
                hideFinishedTickets = document.getElementById('hideFinishedTickets').checked;
            }
            else
            {
                document.getElementById('hideFinishedTickets').checked = false;
                hideFinishedTickets = false;
            }

            loadTableData(hideFinishedTickets, $('#search').val() );
        };



        document.getElementById('search').onkeypress = function(e) {
            var event = e || window.event;
            var charCode = event.which || event.keyCode;

            if ( charCode == '13' )
            {
                //Set hideFinishedTickets to false
                var hideFinishedTickets = false;
                if(document.getElementById('search').value === "")
                {
                    hideFinishedTickets = document.getElementById('hideFinishedTickets').checked;
                }
                else
                {
                    document.getElementById('hideFinishedTickets').checked = false;
                    hideFinishedTickets = false;
                }

                loadTableData(hideFinishedTickets, $('#search').val() );

                return false;
            }
        };




        document.getElementById('hideFinishedTickets').onchange = function (ev)
        {
            loadTableData(ev.target.checked, $('#search').val() );
        };



        document.getElementById('edit').onclick = function()
        {
            var checkboxes = Array.from(document.querySelectorAll('input.checkbox'));

            console.log(checkboxes);

            //Die erste Checkbox nehmen, die ausgewählt ist
            checkedId = checkboxes.find(function (element)
            {
                if(element.checked)
                {
                    return element.dataset.id;
                }
            });

            console.log(checkedId.dataset.id);

            //Edit-Seite öffnen

            var url = "{{ path('dashboard') }}";
            url = url.replace('dashboard', 'ticketsale/edit/' + checkedId.dataset.id);

            window.location = url;
        };



        document.getElementById('updatePayedCards').onclick = function()
        {
            var idArray = getCheckedIds();
            if(idArray.length > 0)
            {
                updateCards(idArray, '{{ url('updatePayedCards') }}');
            }
        };



        document.getElementById('updateHandedCards').onclick =  function()
        {
            var idArray = getCheckedIds();
            if(idArray.length > 0)
            {
                updateCards(idArray, '{{ url('updateHandedCards') }}');
            }
        };



        function getCheckedIds()
        {
            var idArray = [];
            var checkboxes = document.querySelectorAll('input.checkbox');

            checkboxes.forEach(function (checkbox)
            {
                if(checkbox.checked)
                {
                    idArray.push(parseInt(checkbox.dataset.id));
                }
            });

            return idArray;
        }



        function updateCards(idArray, url)
        {
            $.ajax(url, {
                cache: false,
                method: 'POST',
                async: true,
                contentType: 'application/json',
                data: JSON.stringify(idArray),
                dataType: 'json',
                success: function(){
                    location.reload();
                },
                error: function (err) {
                    alert('Ein Fehler ist aufgetreten!');
                    console.log(err);
                }

            });
        }
    </script>
{% endblock %}